ul {
  list-style-type: none;
}

li {
  margin: 0 0 0.5em 0;
}

.list-img {
  position: relative;
  vertical-align: middle;
  top: -1px;
}

.black-link {
  text-decoration: none;
  font-weight: bold;
}

.black-link:hover {
  color: #5a5a5a !important;
}

.application a {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  color: #66bb6a;
}

.application a:hover {
  color: #81c784;
}

.text-shadow-1 {
  text-shadow: 2px 2px 4px #000000;
}

@media only screen and (max-width: 600px) {
  .top-parallax img {
    height: 600px;
    transform: translate(-50%, 0px) !important;
  }
}